<% if logged_in? %>
  <%= render "shared/nav" %>
  <div class="row">
    <div class="col-xs-12 date-box">
      <%= @date %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 steps-box">
      STEPS: <%= @current_steps %>
    </div>
  </div>
  <div class="row">
    <div class="percentage-box-total">
      <div style="width:<%= @percentage_bar * 300 %>px;" class="percentage-box-current-steps">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 steps-to-go-box">
      <%= @steps_needed_message %>
    </div>
  </div>
  <div class="row index-button">
    <%= link_to(trips_path) do %>
      <div class="hex1">
        Get Trip
      </div>
    <% end %>
  </div>
  <div class="row index-button space">
    <%= link_to(stats_path) do %>
      <div class="hex1">
        View Stats
      </div>
    <% end %>
  </div>
<% else %>
  <div id="login-image">
    <div id="app-logo">
      FIT TRIP
    </div>
    <%= link_to(auth_fitbit_path) do %>
      <div id="login-link">
        <p id="login-text">LOGIN</p>
      </div>
    <% end %>
  </div>
<% end %>
