<% if logged_in? %>
  <div class="row">
    <div class="col-xs-4 greeting">
      Hi, <%= current_user.name %>!
    </div>
    <div class="col-xs-4 text-center">
      <h1 id="logo">FIT TRIP</h1>
    </div>
    <div class="col-xs-4 logout-link text-center">
      <%= link_to "log out", signout_path %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 date-box">
      <%= @date %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 steps-box">
      STEPS: <%= @current_steps %>
    </div>
  </div>
  <div class="row">
    <div class="percentage-box-total">
      <div style="width:<%= @current_steps.to_f / @step_goal * 400 %>px;" class="percentage-box-current-steps">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 steps-to-go-box">
      <%= @steps_needed %> STEPS TO GO!
    </div>
  </div>
  <div class="row index-button">
    <%= link_to(trips_path) do %>
      <div class="get-trip-button">
        Get Trip
      </div>
    <% end %>
  </div>
  <div class="row index-button">
    <%= link_to(stats_path) do %>
      <div class="view-stats-button">
        View Stats
      </div>
    <% end %>
  </div>
<% else %>
  <div id="login-image">
    <div id="app-logo">
      fit trip
    </div>
    <div id="login-link">
      <%= link_to "log in", "/auth/fitbit" %>
    </div>
  </div>
<% end %>
