<% if logged_in? %>
  <div class="row">
    <div class="col-xs-4 greeting">
      Hi, <%= current_user.name %>!
    </div>
    <div class="col-xs-4 text-center">
      <h1 id="logo">FIT TRIP</h1>
    </div>
    <div class="col-xs-4 logout-link text-center">
      <%= link_to "log out", signout_path %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-6">
        STEPS: <%= @current_steps %> / <%= @step_goal %>
    </div>
    <div class="col-xs-6 steps-needed-box">
      <%= @steps_needed %> STEPS TO GO!
    </div>
  </div>
<% else %>
  <div id="login-image">
    <div id="app-logo">
      fit trip
    </div>
    <div id="login-link">
      <%= link_to "log in", "/auth/fitbit" %>
    </div>
  </div>
<% end %>
