<script> src="app/javascripts/maps/map2.js"</script>

<% if logged_in? %>
  <%= render "shared/nav" %>
  <div class="row">
    <div class="col-xs-5 current-steps-box">
        STEPS: <%= @current_steps %>
    </div>
    <div class="col-xs-7 steps-needed-box">
      <%= @steps_needed_message %>
    </div>
  </div>
  <div id="container">
    <!-- <div class='results-display'>
      <div class='results-hex hex1'><%= @trip_type %></div>
      <div class='results-hex hex1'><%= @place_type %></div>
      <div class='results-hex hex1'>STEPS: <%= @steps_requested %></div>
    </div> -->
    <div id="map"></div>
    <table id="matrix"></table>
    <div class="places"></div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkJ6Z1BMYp1EOaK43IedKrZ4Yln_cawBI&signed_in=true&libraries=places&callback=initialize" async defer></script>
  <div class="row start-over-box">
    <%= link_to "START OVER", trips_path, class: "start-over-button" %>
  </div>
<% end %>
