<% if logged_in? %>
  <%= render "shared/nav" %>
  <div class="row">
    <div class="col-xs-6 current-steps-box">
        STEPS: <%= @current_steps %>
    </div>
    <div class="col-xs-6 steps-needed-box">
      <%= @steps_needed_message %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      LET'S GET SOME STEPS! WHAT KIND OF TRIP WOULD YOU LIKE TO TAKE?
    </div>
  </div>

  <%= form_tag results_path do %>
    <!-- Trip Type -->
    <div class="btn-group btn-toggle" data-toggle="buttons">
      <label class="btn trip-btn active">
        <input name="trip-type" value="Round-trip" checked="" type="radio"> Round-trip
      </label>
      <label class="btn trip-btn">
        <input name="trip-type" value="One-way"  type="radio"> One-way
      </label>
    </div>

    <!-- Destination Type -->
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group btn-toggle" data-toggle="buttons">
          <label class="btn trip-btn active">
            <input name="place-type" value="park" checked="" type="radio"> Park
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="store" type="radio"> Store
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="restaurant" type="radio"> Restaurant
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="museum" type="radio"> Museum
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="school" type="radio"> School
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="random" type="radio"> I don't care
          </label>
        </div>
      </div>
    </div>

    <div class="form-group steps-form-box">
      <%= label_tag(:steps, "Steps:") %>
      <%= number_field_tag(:steps, value = @steps_needed) %>
    </div>

    <%= submit_tag("Submit") %>
  <% end %>
<% else %>
  <div id="login-image">
    <div id="app-logo">
      fit trip
    </div>
    <div id="login-link">
      <%= link_to "log in", "/auth/fitbit" %>
    </div>
  </div>
<% end %>
