<% if logged_in? %>
  <%= render "shared/nav" %>
  <div class="row">
    <div class="col-xs-6 current-steps-box">
        STEPS: <%= @current_steps %>
    </div>
    <div class="col-xs-6 steps-needed-box">
      <%= @steps_needed_message %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center trip-message">
      TIME TO GET SOME STEPS! WHAT KIND OF TRIP WOULD YOU LIKE TO TAKE?
    </div>
  </div>

  <div class="col-xs-12 text-center">
    <%= form_tag results_path do %>
      <!-- Trip Type -->
      <div class="btn-group btn-toggle" data-toggle="buttons">
        <label class="btn active trip-btn hex1">
          <input name="trip-type" value="Round-trip" checked="" type="radio"> ROUND-TRIP
        </label>
        <label class="btn trip-btn hex1">
          <input name="trip-type" value="One-way"  type="radio"> ONE-WAY
        </label>
      </div>

      <!-- Destination Type -->
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-toggle" data-toggle="buttons">
            <label class="btn place-btn hex1 active">
              <input name="place-type" value="park" checked="" type="radio"> PARK
            </label>
            <label class="btn place-btn hex1">
              <input name="place-type" value="store" type="radio"> STORE
            </label>
            <label class="btn place-btn hex1">
              <input name="place-type" value="restaurant" type="radio"> RESTAURANT
            </label>
            <label class="btn place-btn hex1 place-museum">
              <input name="place-type" value="museum" type="radio"> MUSEUM
            </label>
            <label class="btn place-btn hex1 place-school">
              <input name="place-type" value="school" type="radio"> SCHOOL
            </label>
            <label class="btn place-btn hex1 place-random">
              <input name="place-type" value="random" type="radio"> RANDOM
            </label>
          </div>
        </div>
      </div>

      <div class="form-group steps-form-box">
        <%= label_tag(:steps, "TRIP LENGTH (IN STEPS):") %>
        <%= number_field_tag(:steps, value = @steps_needed) %>
      </div>

      <%= submit_tag("GET TRIPS", :class => "trip-submit-btn") %>
    <% end %>
  </div>
<% else %>
  <div id="login-image">
    <div id="app-logo">
      fit trip
    </div>
    <div id="login-link">
      <%= link_to "log in", "/auth/fitbit" %>
    </div>
  </div>
<% end %>
