<% if logged_in? %>
  <%= render "shared/nav" %>
  <div class="row">
    <div class="col-xs-6">
        STEPS: <%= @current_steps %> / <%= @step_goal %>
    </div>
    <div class="col-xs-6 steps-needed-box">
      <%= @steps_needed %> STEPS TO GO!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      Time to meet your step goal. Where would you like to go?
    </div>
  </div>

  <%= form_tag results_path do %>
    <div class="btn-group btn-toggle" data-toggle="buttons">
      <label class="btn trip-btn active">
        <input name="trip-type" value="Round-trip" checked="" type="radio"> Round-trip
      </label>
      <label class="btn trip-btn">
        <input name="trip-type" value="One-way"  type="radio"> One-way
      </label>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group btn-toggle" data-toggle="buttons">
          <label class="btn trip-btn active">
            <input name="place-type" value="park" checked="" type="radio"> Park
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="store" type="radio"> Store
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="restaurant" type="radio"> Restaurant
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="museum" type="radio"> Museum
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="school" type="radio"> School
          </label>
          <label class="btn trip-btn">
            <input name="place-type" value="random" type="radio"> I don't care
          </label>
        </div>
      </div>
    </div>

    <div class="form-group steps-form-box">
      <%= label_tag(:steps, "Steps:") %>
      <%= number_field_tag(:steps, value = @steps_needed) %>
    </div>

    <%= submit_tag("Submit") %>
  <% end %>
<!--
  <div class="row place-choice-row">
    <%= link_to(results_path("park")) do %>
      <div class="col-xs-6 place-choice-box">
        PARK
      </div>
    <% end %>
    <%= link_to(results_path("museum")) do %>
      <div class="col-xs-6 place-choice-box">
        MUSEUM
      </div>
    <% end %>
  </div>
  <div class="row place-choice-row">
    <%= link_to(results_path("store")) do %>
      <div class="col-xs-6 place-choice-box">
        STORE
      </div>
    <% end %>
    <%= link_to(results_path("school")) do %>
      <div class="col-xs-6 place-choice-box">
        SCHOOL
      </div>
    <% end %>
  </div>
  <div class="row place-choice-row">
    <%= link_to(results_path("restaurant")) do %>
      <div class="col-xs-6 place-choice-box">
        RESTAURANT
      </div>
    <% end %>
    <%= link_to(results_path("random")) do %>
      <div class="col-xs-6 place-choice-box">
        I DON'T CARE
      </div>
    <% end %>
  </div> -->

<% else %>
  <div id="login-image">
    <div id="app-logo">
      fit trip
    </div>
    <div id="login-link">
      <%= link_to "log in", "/auth/fitbit" %>
    </div>
  </div>
<% end %>
